.container{
    margin: 0px auto;
    width: min-content;
}
.blockContent{
    display: flex;
    justify-content: space-evenly;
    color: blue;
    font-size: larger;
    font-weight: bolder;
    padding: 5px;
}
.card{
    margin-bottom: 3px;
}
