.container{
    display: flex;
    justify-content: center;
}
.date{
    display: flex;
    justify-content: space-evenly;
    color: blue;
    font-size: larger;
    font-weight: bolder;
    padding: 5px;
}
.marginBlock{
    margin: 5px;
}
.time{
    display: flex;
    justify-content: space-evenly;
    color: blue;
    font-size: larger;
    font-weight: bolder;
    padding: 5px;
}
.temp{
    display: flex;
    justify-content: space-evenly;
    color: blue;
    font-size: larger;
    font-weight: bolder;
    padding: 5px;
}
